# Environment variables

## ----------
## Dynatrace
## ----------

## Uncomment this section if you want to send telemetry to Dynatrace
# DT_ENDPOINT="https://<your_tenant_id>.live.dynatrace.com"
# DT_API_TOKEN="<your_dynatrace_api_token>"

## -------------
## OpenTelemetry
## -------------

OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
